<section class="container w-50 p-5 my-5 border rounded">
  <h1 class="text-primary">Cadastro Medicamento</h1>
  <form>
    <div class="d-flex justify-content-between mb-3 align-items-end">
      <div class="form-group col-md-10">
        <label for="busca">Encontre o Paciente</label>
        <input
          type="text"
          class="form-control"
          id="busca"
          placeholder="Digite nome do paciente"
        />
      </div>
      <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary disabled mx-2">
        Editar
      </button>
      <button type="button" class="btn btn-outline-primary disabled mx-2">
        Deletar
      </button>
      <button type="button" class="btn btn-outline-primary mx-2">Salvar</button>
    </div>

    <div class="form-row">
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-5">
          <label for="medicamento">Nome do medicamento</label>
          <input
            type="text"
            class="form-control"
            id="medicamento"
            placeholder="Medicamento"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="data">Data</label>
          <input type="date" class="form-control" id="data" />
        </div>
        <div class="form-group col-md-3">
          <label for="hora">Hora</label>
          <input type="date" class="form-control" id="hora" />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-4">
          <label for="tipo">Tipo</label>
          <select id="tipo" class="form-control">
            <option>Cápsula</option>
            <option>Comprimido</option>
            <option>Líquido</option>
            <option>Creme</option>
            <option>Gel</option>
            <option>Inalação</option>
            <option>Injeção</option>
            <option>Spray</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="quantidade">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" />
        </div>
        <div class="form-group col-md-3">
          <label for="unidade">Unidade</label>
          <select id="unidade" class="form-control">
            <option>mg</option>
            <option>mcg</option>
            <option>g</option>
            <option>mL</option>
            <option>%</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="observacao">Observação</label>
        <textarea class="form-control" id="observacao" rows="6"></textarea>
      </div>
    </div>
  </form>
</section>
