<section class="container w-50 p-5 my-5 border rounded">
  <h1 class="text-primary">Criar Usuário</h1>
<form class="p-5">
  <div class="form-group mb-3">
    <label for="loginEmail1" class="form-label">Email</label>
    <input name="email" type="email" class="form-control" id="loginEmail1" aria-describedby="emailHelp" placeholder="email@email.com.br" required minlength="6">
  </div>
  <div class="form-group mb-3">
    <label for="cadastroSenha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="cadastroSenha" placeholder="Senha" required minlength="10">
  </div>
  <div class="form-group mb-3">
    <label for="confirmaSenha" class="form-label">Confirmar Senha</label>
    <input type="password" class="form-control" id="confirmaSenha" placeholder="Confirmar Senha" required minlength="10">
  </div>
  <div class="form-group d-flex justify-content-between align-items-baseline">
  <button type="submit" class="btn btn-outline-primary mb-3" (click)="cadastrar()">Cadastrar</button>
</div>
</form>
</section>
