<section class="container w-50 p-5 my-5 border rounded">
  <h1 class="text-primary">Criar Usuário</h1>
  <form #f="ngForm" (ngSubmit)="cadastrar(f)" class="p-5">
    <div class="form-group mb-3">
      <label for="loginEmail1" class="form-label">Email</label>
      <input
        [(ngModel)]="Usuario.email"
        name="email"
        type="email"
        class="form-control"
        id="loginEmail1"
        aria-describedby="emailHelp"
        placeholder="email@email.com.br"
        required
        minlength="6"
      />
    </div>
    <div class="form-group mb-3">
      <label for="cadastroSenha" class="form-label">Senha</label>
      <input
        [(ngModel)]="Usuario.senha"
        name="senha"
        type="password"
        class="form-control"
        id="senha"
        placeholder="Senha"
        required
        minlength="10"
      />
    </div>
    <div class="form-group mb-3">
      <label for="confirmaSenha" class="form-label">Confirmar Senha</label>
      <input
        [(ngModel)]="Usuario.confirmaSenha"
        type="password"
        name="confirmaSenha"
        class="form-control"
        id="confirmaSenha"
        placeholder="Confirmar Senha"
        required
        minlength="10"
        ngModel
      />
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-outline-primary mb-3">
        Cadastrar
      </button>
      <a *ngIf="alerta" class="btn btn-outline-primary mb-3" routerLink="/login"
        >Login</a
      >
    </div>
  </form>
</section>
