<section class="container w-50 p-5 my-5 border rounded">
  <h1 class="text-primary">Login</h1>
<form class="p-5">
  <div class="mb-3">
    <label for="loginEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="loginEmail1" aria-describedby="emailHelp" placeholder="email@email.com.br" required minlength="6">
  </div>
  <div class="mb-3">
    <label for="loginSenha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="loginSenha" placeholder="Senha" required minlength="10">
  </div>
  <div class="d-flex justify-content-between align-items-baseline">
  <button type="submit" class="btn btn-outline-primary mb-3" (click)="entrar()">Entrar</button>
  <a class="nav-link active" aria-current="page" routerLink="/login" (click)="alerta = true">Esqueceu sua senha?</a>
</div>
<div *ngIf="alerta" class="alert alert-primary" role="alert">
  Funcionalidade está em construção!
</div>
</form>
<div class="d-flex justify-content-around align-items-baseline">
  <p>Não possui uma conta?</p>
    <button routerLink="/cadastro-usuario" type="submit" class="btn btn-outline-primary btn-sm">Criar conta</button>
  </div>
</section>
