<section class="container w-75 p-5 my-5 border rounded">
  <h1 class="text-primary">Cadastro Paciente</h1>
  <form #f="ngForm" (ngSubmit)="cadastrar(f)" class="p-5">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary disabled mx-2">
        Editar
      </button>
      <button type="button" class="btn btn-outline-primary disabled mx-2">
        Deletar
      </button>
      <button type="submit" class="btn btn-outline-primary mx-2">Salvar</button>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nomeCompleto">Nome Completo</label>
        <input
          [(ngModel)]="Paciente.nomeCompleto"
          name="nomeCompleto"
          type="text"
          class="form-control"
          id="nomeCompleto"
          placeholder="Nome"
        />
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-3">
          <label for="sexo">Sexo</label>
          <select
            [(ngModel)]="Paciente.sexo"
            name="sexo"
            id="sexo"
            class="form-control"
          >
            <option>Feminino</option>
            <option>Masculino</option>
          </select>
        </div>
        <div class="form-group col-md-4 mx-3">
          <label for="dataNascimento">Data de Nascimento</label>
          <input
            [(ngModel)]="Paciente.dataNascimento"
            name="dataNascimento"
            type="date"
            class="form-control"
            id="dataNascimento"
            placeholder="Data de Nascimento"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="cpf">CPF</label>
          <input
            [(ngModel)]="Paciente.cpf"
            name="cpf"
            type="text"
            class="form-control"
            id="cpf"
            placeholder="000.000.000-00"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-7">
          <label for="rg">RG</label>
          <input
            [(ngModel)]="Paciente.rg"
            name="rg"
            type="text"
            class="form-control"
            id="rg"
            placeholder="0000000000 xxx"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="telefone">Telefone</label>
          <input
            [(ngModel)]="Paciente.telefone"
            name="telefone"
            type="text"
            class="form-control"
            id="telefone"
            placeholder="(00)0 0000-0000"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-3">
          <label for="estadoCivil">Estado Civil</label>
          <select
            [(ngModel)]="Paciente.estadoCivil"
            name="estadoCivil"
            id="estadoCivil"
            class="form-control"
          >
            <option>Solteiro</option>
            <option>Casado</option>
            <option>Separado</option>
            <option>Divorciado</option>
            <option>Viúvo</option>
          </select>
        </div>
        <div class="form-group col-md-5">
          <label for="email">Email</label>
          <input
            [(ngModel)]="Paciente.email"
            name="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="xxxx@xxxx.xx.xx"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="naturalidadel">Naturalidade</label>
          <input
            [(ngModel)]="Paciente.naturalidade"
            name="naturalidade"
            type="text"
            class="form-control"
            id="naturalidade"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-4">
          <label for="contatoEmergencia">Contato de Emergência</label>
          <input
            [(ngModel)]="Paciente.contatoEmergencia"
            name="contatoEmergencia"
            type="text"
            class="form-control"
            id="contatoEmergencia"
            placeholder="(00)0 0000-0000"
          />
        </div>
        <div class="form-group col-md-7">
          <label for="listaAlergias">Lista de Alergias</label>
          <input
            [(ngModel)]="Paciente.listaAlergias"
            name="listaAlergias"
            type="text"
            class="form-control"
            id="listaAlergias"
          />
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="listaCuidados">Lista de Cuidados Específicos</label>
        <input
          [(ngModel)]="Paciente.listaCuidados"
          name="listaCuidados"
          type="text"
          class="form-control"
          id="listaCuidados"
        />
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-3">
          <label for="convenio">Convênio</label>
          <input
            [(ngModel)]="Paciente.convenio"
            name="convenio"
            type="text"
            class="form-control"
            id="convenio"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="numeroConvenio">Número do Convênio</label>
          <input
            [(ngModel)]="Paciente.numeroConvenio"
            name="numeroConvenio"
            type="number"
            class="form-control"
            id="numeroConvenio"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="validadeConvenio">Validade do Convênio</label>
          <input
            [(ngModel)]="Paciente.validadeConvenio"
            name="validadeConvenio"
            type="date"
            class="form-control"
            id="validadeConvenio"
          />
        </div>
      </div>
    </div>
    <div class="form-row mb-3">
      <p class="mt-3">Endereço</p>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-3">
          <label for="CEP">CEP</label>
          <input
            [(ngModel)]="Paciente.cep"
            name="cep"
            type="text"
            class="form-control"
            id="CEP"
            placeholder="000.000-00"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="cidade">Cidade</label>
          <input
            [(ngModel)]="Paciente.cidade"
            name="cidade"
            type="text"
            class="form-control"
            id="cidade"
          />
        </div>
        <div class="form-group col-md-2">
          <label for="estado">Estado</label>
          <select
            [(ngModel)]="Paciente.estado"
            name="estado"
            id="estado"
            class="form-control"
          >
            <option selected>Escolher...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-8">
          <label for="logradouro">Logradouro</label>
          <input
            [(ngModel)]="Paciente.logradouro"
            name="logradouro"
            type="text"
            class="form-control"
            id="logradouro"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="numero">Número</label>
          <input
            [(ngModel)]="Paciente.numero"
            name="numero"
            type="number"
            class="form-control"
            id="numero"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group col-md-3">
          <label for="complemento">Complemento</label>
          <input
            [(ngModel)]="Paciente.complemento"
            name="complemento"
            type="text"
            class="form-control"
            id="complemento"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="bairro">Bairro</label>
          <input
            [(ngModel)]="Paciente.bairro"
            name="bairro"
            type="text"
            class="form-control"
            id="bairro"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="pontoReferencia">Ponto de referência</label>
          <input
            [(ngModel)]="Paciente.pontoReferencia"
            name="pontoReferencia"
            type="text"
            class="form-control"
            id="pontoReferencia"
          />
        </div>
      </div>
    </div>
  </form>
</section>
